body{
    background-color: #0f0f0f;
}
.buts {
    display: flex;
    justify-content: space-around;
}

.but {
    font-weight: 100;
    cursor: pointer;
    color: white;
    padding: 4px 0;
    width: 91px;
    text-align: center;
    margin: 1px auto;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.hovered {
    opacity: 0.8;
    transition: .3s;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.hovered:hover {
    opacity: 1;
}

.hovered:active {
    background-color: #5c98bb !important;
}

.bg-grey {
    background-color: #323141;
}

.bg-green {
    background-color: #5fae6a;
}

.bg-red {
    background-color: #e76d6a;
}

.bg-yellow {
    background-color: #fcb51e;
}

.bg-blue {
    background-color: #0e2e41;
}

.txt-grey {
    color: #69696b;
}

.txt-green {
    color: #5fae6a;
}

.txt-red {
    color: #e76d6a;
}

.txt-yellow {
    color: #fcb51e;
}

.txt-blue {
    color: #3f93c5;
}

.txt-white {
    color: #c9c9c9;
}

.txt-center{
    text-align: center;
}


.small {
    font-size: 0.8em !important;
}

.big {
    font-size: 1.2em !important;
}

.bigbig {
    font-size: 1.5em !important;
}

.center {
    text-align: center;
}

.w100 {
    width: 100%;
}

.modal-text {
    font-size: 1.3em;
    color: white;
    margin: 20px 0;
    text-align: center;
}

.m1 {
    margin: 1px;
}

.m10 {
    margin: 10px !important;
}
.m5 {
    margin: 5px !important;
}
.m3 {
    margin: 3px !important;
}
.w200 {
    display: inline-block;
    width: 200px !important;
}
.w150 {
    display: inline-block;
    width: 150px !important;
}
.w100 {
    display: inline-block;
    width: 100px !important;
}