.left-parth{
    width: 49%;
}
.right-parth{
    width: 49%;
}
/* TERMINAL */


.buttons-type{
    display: flex;
    justify-content: space-evenly;
}
.but-type{
    text-align: center;
    width: 45%;
    border-bottom: 1px solid rgba(128, 128, 128, 0);
    transition: .3s;
}
.but-type.active-type{
    border-bottom: 1px solid grey;
}
.terminal{
    display: flex;
    justify-content: space-between;
}
.terminall-sell-buy{
    font-size: 0.9em;
    display: inline-block;
}

.terminal-input .label{
    margin-left: 5px;
    font-size: 0.9em;
    color: white;
}
.custom-input{
    display: flex;
    height: 30px;
    margin: 0px 0px 5px;
}
.custom-input input{
    text-align: center;
    background: #202833;
    font-size: 1.2em;
    width: calc(100% - 65px);
}
.input-sign{
    text-align: center;
    line-height: 1;
    font-size: 25px;
    margin: 0 1px;
    width: 30px;
    height: 30px;
    align-content: center;
    background: #283545;
}

.percenage{
    display: flex;
    justify-content: space-around;
}
.el-percent{
    text-align: center;
    padding: 2px 0;
    border: 1px solid #293036;
    width: calc(25% - 5px);
    display: inline-block;
}

.terminall-sell-buy .but{
    margin: 5px 0;
    font-size: 1.2em;
}

.terminal-but-action{
    margin-top: 3px;
    width: 100%;
    transition: .3s;
}
/* OPEN ORDERS */
.open-orders table{
    width: 100%;
    color: rgb(230, 227, 227);
}

.block-open-orders,
.block-history-orders{
    font-size: 0.8em;
    overflow: auto;
}
/* INFO PAGE */

#info-trading-pairs table{
    /* font-size: 0.9em; */
    width: 100%;
    color: white;
}
#info-trading-pairs table td{
    padding: 3px 0px;
}
#main-slider{
    height: 200px;
}
#main-slider .slide{
    display: flex;
    width: 330px;
    align-items: center;
    justify-content: center;
}


/* DEPTH */
#depth{
    font-size: 0.9em;
}
.depth-header{
    display: flex;
    justify-content: space-between;
}
.price-line{
    font-size: 0.9em;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    /* background: linear-gradient(to left, #FFDDD6 20%, #FFF9ED 20%, #FFF9ED 80%); */
}

.price-line .value{
    color: white;
}

.last-price{
    text-align: center;
    border-bottom: 1px dotted grey;
    border-top: 1px dotted grey;
    font-size: 1.1em;
    margin: 4px auto;
    padding: 2px;
}

.vue-notification-group{
    z-index: 1000000000000000 !important;
}


/* MENU */

.avatar-container{
    background: black;
    overflow: hidden;
    border: 2px solid rgb(80, 80, 80);
    width: 72px;
    height: 72;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.avatar-container img{
    max-width: 100%;
    flex-shrink: 0;
}
.top-menu{
    display: flex;
}

.menu-items{
    display: block;
    color: honeydew;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 8px;
}

.user-menu-path{
    display: flex;
}
.user-menu-path a{
padding-left: 10px;
}
.user-menu-path i {
    padding: 7px;
}